---
seccomp.enabled: false
heartbeat.config.monitors:
  path: "${path.config}/monitors.d/*.yml"
  reload.enabled: false
  reload.period: 5s

heartbeat.synthetic_suites:
- name: Sample app
  path: "/opt/sample-app"
  schedule: "@every 1m"
- name: Docs Suite
  path: "/opt/elastic-docs"
  schedule: "@every 1m"

processors:

heartbeat.monitors:
- type: browser
  id: my-monitor
  name: My Monitor
  schedule: "@every 1m"
  script: |-
    step("load homepage", async () => {
        await page.goto('https://www.elastic.co');
    });
    step("hover over products menu", async () => {
        await page.hover('css=[data-nav-item=products]');
    });

output.console: ~
