name: e2e

on:
  workflow_dispatch: ~
  schedule:
    - cron: "0 8 */2 * 1-5"
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          cache: npm
          node-version-file: .nvmrc
      - uses: actions/setup-go@v6
        with:
          go-version: 1.21
      - run: npm ci
      - run: npm run build
      - run: npm install
        working-directory: __tests__/e2e
      - run: npm run test:ci_integration_all
        working-directory: __tests__/e2e
        env:
          TERM: xterm # this is needed for tput
      - if: success() || failure()
        uses: actions/upload-artifact@v5
        with:
          name: test-results
          path: "**/junit_*.xml"
          if-no-files-found: error
      - if: always()
        uses: elastic/oblt-actions/slack/notify-result@v1
        with:
          bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
          channel-id: "#synthetics-notify"
